.breadcrumbsWrapper{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;
  width: calc(100vw - 265px);
  background: var(--background-800);
  border-bottom: 1px solid var(--background-700);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
