
.navbarInner{
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid balck;
  padding-bottom: 10px;
  margin: 5px;
}

.navItem {
  font-size: 25px;
}

.title {
  font-size: 40px;
}

.navbar_btn {
  padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

.navbarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: 1s;
  gap: 1.5rem;
  background: var(--background-g-med);
  border-right: 1px solid var(--background-g-dark);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  color: var(--text-1);
}

.fullNavbarWrapper{
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: var(--background-g-med);
  border-right: 1px solid var(--background-g-dark);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  color: var(--text-1);
}

.navbar_close_btn {
  float: right;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--text-1);
  font-size: 1.8rem;
  visibility: visible;
  opacity: 1;
}

.headerNav {
  display: flex;
  flex-direction: row;
  width: 96%;
  padding: 13px;
  justify-content: space-between;
}

  