.taskWrapperOut{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0px;
    top: 0px;
    z-index: 10;

    background: linear-gradient(180deg, rgba(33, 34, 44, 0.5) 0%, rgba(23, 24, 32, 0.5) 100%);
    backdrop-filter: blur(12px);
}

.taskWrapper{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 64px;

    /* background/b-med */

    background: var(--background-b-med);
    /* background/b-dark */

    border: 1px solid var(--background-b-dark);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 24px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.taskContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.plantInfoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.plantDropdownContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 64px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 0;
}

.plantComponentContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.selectionsContainer{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}

.dateSelectorContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}

.typeSelectorContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 1;
}

.buttonsWrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0px;
    gap: 20px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}