.cancelButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    gap: 10px;
    outline: none !important;
    background: var(--background-b-dark);
    border: 1px solid var(--background-b-dark);
    border-radius: 70px;
    color: var(--text-1);
}
