:root{
  --background-linear: linear-gradient(180deg, #21222C 0%, #171820 100%);

  --background-900: #1A1B22;
  --background-800: #1D1E25;
  --background-700: #3E3F4A;

  --text-900: #EFEFEF;
  --text-700: #D6D6D6;
  --text-500: #B9BAC3;

  --theme-700: #4D8CE1;
  --theme-500: #4D99FF;
  --theme-300: #7CB4FF;

  --action-success-700: #3DB429;
  --action-success-500: #60F048;
  --action-success-300: #6CFF8D;

  --action-warning-700: #C9B928;
  --action-warning-500: #F5E449;
  --action-warning-300: #F9EC78;

  --action-error-700: #AB2626;
  --action-error-500: #F63E3E;
  --action-error-300: #FF9696;
}

body{
  background: var(--background-linear);
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  color: var(--text-900);
}
