.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 1;
}

.translate-x-0 {
  transform: translateX(0%);
}

.translate-x-100 {
  transform: translateX(100%);
}

.transition-opacity {
  transition-property: opacity;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.transition-translate{
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.duration-500 {
  transition-duration: 500ms;
}

.ease-linear {
  transition-timing-function: linear;
}
