.pageWrapper {
  width: calc(100% - 70px);
  height: calc(100% - 110px);
  margin: 30px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.pageInner {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.landing{
  display: flex;
  height: calc(100% - 110px);
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  color: #528E83;
}

@media only screen and (max-width: 1150px) {
  .pageWrapper {
    width: auto;
    height: auto;
    flex-direction: column;
  }
}
